.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 188px;
  height: 50px;
  font-size: 16px;
}

.picture {
  width: 18px;
  height: 18px;
}
.count {
  padding-right: -1px;
}