.FAQ {
  width: 100%;
  min-height: 508px;
  background-color: #484283;
  min-height: 508px;
  padding: 61px 0;

}

.info {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: left;
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  width: 880px;
  height: 56px;
  margin-bottom: 20px;
}

.list {
  width: 880px;
  display: flex;
  flex-direction: column;
  margin-top: -3px;
  border-bottom: 1px solid #ffffff;
}

@media (max-width: 1280px) {
  .FAQ {
    padding: 30px;
  }

  .title {
    width: 500px;
  }
  .info {
    width: 500px;
  }
}